.node {
  cursor: pointer;
}

.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.node text {
  display: none;
  font: 10px sans-serif;
}

.node circle:hover{
  transform: scale(1.5);
}

.node circle:hover ~ text{
  display: inline;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 0.5px;
}

body{
  display: grid;
  height: 1000px;
  grid-template-columns: 1fr 3fr 1fr;
}

.display_tab{
  width:100%;
  height: 1000px;
  overflow: auto;
}

.display_list{
  width:100%;
  height: 90%;
  overflow: auto;
}
